<section class="playlist-page">
    <div class="general">
        <h1>{{playlistTitle}}</h1>
        <p>Owner: {{ownerName}}</p>
        <p>Likes: {{likeCount}}</p>
        <p>{{caption}}</p>
    </div>
    <div class="buttons">
        <form id="saveToSpotifyForm" action="/spotify/{{playlistID}}" method="POST">
            <button type="submit">Save To Spotify</button>
        </form>
        {{#if isOwner}}
        <form id="postForm" action="/playlist/post/{{playlistID}}" method="POST">
            <button type="submit">{{posted}}</button>
        </form>
        <form id="deleteForm" action="/playlist/{{playlistID}}" method="POST">
            <button type="submit">Delete Playlist</button>
        </form>
        {{else}}
        <form id="likeForm" action="/playlist/like/{{playlistID}}" method="POST">
            <button type="submit">{{liked}}</button>
        </form>
        {{/if}}
    </div>
    <div class="tracks">
        <ol>
            {{#each playlistData}}
            <li class="track-list">
                <img src="{{album.images.[0].url}}" alt="{{album.name}} Cover" width="200">
                <h2>{{name}}</h2>
                <p>Artist: {{artists.[0].name}}</p>
                <p>Album: {{album.name}}</p>
            </li>
            {{/each}}
        </ol>
    </div>
    <div class="comments">
        <h3>Comments</h3>
        <ul>
            {{#each comments}}
            <li class="comment-list">
                <h2>{{author}}:</h2>
                <h1> {{comment}}</h1>
                <p>{{postDate}}</p>
            </li>
            {{/each}}
        </ul>
    </div>
</section>