<div id="profileMainContainer">

{{#if error}}
    <p class="error">{{error}}</p>
{{else}}
    <h1 id="usernameHeader">Hello, {{username}}!</h1>

        <section id="dashboardContainer">
            <div id="dashboardTitle">
                <h2>Spotify Analytics Dashboard</h2>
            </div>
            <div id="dashboardHeader">
                <h2>Spotify Username:</h2>
                <p>{{spotifyUsername}}</p>
            </div>
            <div id="dashboardCardContainer">
                <div id="leftSideDashboard">
                    <div id="numFollowersCard" class="analyticsCard">
                        <h2 class="analyticsCardTitle">Number of Spotify Followers:</h2>
                        <p id="numFollowers">{{numFollowers}}</p>
                    </div>
                    
                        <div id="topItemsContainer">
                            <div id="topTracksCard" class="analyticsCard">
                                <h2 class="analyticsCardTitle">Top Tracks:</h2>
                                {{#if isPremium}}
                                    <ol class="topList">
                                        {{#each topTracks}}
                                            <li class="topItems">{{this}}</li>
                                        {{/each}}
                                    </ol>
                                {{else}}
                                    <ul class="topList">
                                        <li>This data is only available to Spotify Users with a Premium Account.</li>
                                    </ul>
                                {{/if}}
                            </div>

                            <div id="topArtistsCard" class="analyticsCard">
                                <h2 class="analyticsCardTitle">Top Artists:</h2>
                                {{#if isPremium}}
                                    <ol class="topList">
                                        {{#each topArtists}}
                                            <li class="topItems">{{this}}</li>
                                        {{/each}}
                                    </ol>
                                {{else}}
                                    <ul class="topList">
                                        <li>This data is only available to Spotify Users with a Premium Account.</li>
                                    </ul>
                                {{/if}}
                            </div>
                        </div>
                </div>
                
                <div id="genreCard" class="analyticsCard">
                    <h2 class="analyticsCardTitle">Genre Breakdown:</h2>
                    {{#if isPremium}}
                        <img src="{{genres}}" alt="Genre Breakdown Pie Chart">
                    {{else}}
                        <ul class="topList">
                            <li>This data is only available to Spotify Users with a Premium Account.</li>
                        </ul>
                    {{/if}}
                </div>
            </div>
            
        </section>

        <section id="playlistsContainer">            
                <div id="createdPlaylists">
                    <h2>Generated Playlists</h2>
                    {{#if createdPlaylists.length}}
                        {{#each createdPlaylists}}
                            <div class="playlistCard">
                                <h3>{{this.title}}</h3>
                                <p class="playlistText">{{this.caption}}</p>
                                {{#if posted}}
                                <p class="playlistText">Likes: {{this.likes.length}}</p>
                                {{/if}}
                                <a href="/playlist/{{this._id}}">View Playlist</a>
                            </div>
                        {{/each}}
                    {{else}}
                        <p class="noPlaylistsMessage">You have not generated any playlists yet.</p>
                    {{/if}}
                </div>
                <div id="likedPlaylists">
                    <h2>Liked Playlists</h2>
                    {{#if likedPlaylists.length}}
                        {{#each likedPlaylists}}
                            <div class="playlistCard">
                                <h3>{{this.title}}</h3>
                                <p class="playlistText">{{this.caption}}</p>
                                <p class="playlistText">Owner: {{this.userName}}</p>
                                <p class="playlistText">Likes: {{this.likes.length}}</p>
                                <a href="/playlist/{{this._id}}">View Playlist</a>
                            </div>
                        {{/each}}
                    {{else}}
                        <p class="noPlaylistsMessage">You have not liked any playlists yet.</p>
                    {{/if}}

                </div>
        </section>
{{/if}}
</div>