<h1>Shared Playlists</h1>
    <div id="playlists">
        {{#each playlists}}
        <div class="playlist" id="{{this._id}}">
            <h2>{{this.title}}</h2>
            <p>{{this.caption}}</p>
            <div class="social">
				{{> like_button }}
            </div>
            <div class="comments" id="{{this._id}}-comments">
                <h3>Comments</h3>
                {{#each this.comments}}
                <div class="comment" id="{{this.comment._id}}">
                    <p>{{this.author}}: {{this.content}}</p>
                  	<p>{{this.postDate}}</p>
                </div>
                {{else}}
                <p>Be the first to comment!</p>
                {{/each}}
                <form>
                    <div class="comment-form">
                      <label for="new-comment"></label>
                      <textarea id="new-comment">Write a comment...</textarea>
                  </div>
                  <div class="comment-button">
                                          <button type="submit" id="replyButton">Reply</button>
                  </div>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
{{> (lookup . 'script_partial') }}