<h1 id="social-media-title">Shared Playlists</h1>
    <div id="playlists">
        {{#each playlists}}
        <div class="playlist" id="{{this._id}}">
            <a href="/playlist/{{this._id}}" class="fill-div">
            <h2>{{this.title}}</h2> </a>
            <p>Posted By: {{this.userName}}</p>
            <p>{{this.caption}}</p>
            <ol>
                {{#each this.trackData}}
                    <li>
                        <img src="{{album.images.[0].url}}" alt="{{album.name}} Cover" >
                        <h2>{{name}}</h2>
                        <p>Artist: {{artists.[0].name}}</p> 
                        <p>Album: {{album.name}}</p>
                    </li>
                {{/each}}
            </ol>
            <div class="social">
				<button class="like-button" data-like-id="{{this._id}}-like">Like</button>
                <span data-count-id="{{this._id}}-count">{{this.likes.length}}</span>
            </div>
            <div class="comments" data-comment-id="{{this._id}}-comments">
                <h3>Comments</h3>
                {{#each this.comments}}
                <div class="comment" id="{{this._id}}">
                    <p>{{this.author}}: {{this.comment}}</p>
                  	<p>{{this.postDate}}</p>
                </div>
                {{else}}
                <p id="{{this._id}}-no-comment">Be the first to comment!</p>
                {{/each}}
                <form>
                    <div class="comment-form">
                      <textarea data-newcomment-id="{{this._id}}-new-comment" placeholder="Write a comment..."></textarea>
                  </div>
                  <div class="comment-button">
                    <button type="submit" data-submitcomment-id="{{this._id}}-submit">Submit</button>
                  </div>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" 
crossorigin="anonymous"></script>
<script src="/public/js/like_and_comment_ajax.js"></script>